body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}

h1{
    text-align: center;
}

main {
    width: 450px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

#main_cont{
    display: block;
    margin-top: 9em;
    margin-bottom: 9em;
}

label {
    display: block;
    width: 10em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
}

#area {
    color: orange;
    width: auto;
}

#perim {
    color: orangered;
    width: auto;
}

#container{
    display:flex;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 12px;
}

#calculate{
    margin-right: 1em;
    height: auto;
    font-size: 1.1em;
}

#clear{
    margin-left: 1em;
    height: auto;
    font-size: 1.1em;
}

input{
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    margin: 0.25em 0;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

br {
    clear: left;
}